@{
    ViewData["Title"] = "Giới thiệu Bộ môn Mạng và An toàn thông tin";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Giới thiệu Bộ môn Mạng và An toàn thông tin</h1>

    <p>Bộ môn Mạng và An toàn thông tin đảm nhiệm chức năng giảng dạy Tin đại cương, các môn cơ sở, chuyên ngành An ninh mạng.</p><p><strong>Giới thiệu Bộ môn Mạng và An toàn thông tin</strong></p><p><strong>&nbsp;</strong></p><p><strong>Bộ môn Mạng và An toàn thông tin đảm nhiệm chức năng giảng dạy tin đại cương, môn tin cơ sở và chuyên ngành An ninh mạng.</strong></p><p><strong>&nbsp;</strong></p><p><strong>Thành phần lãnh đạo bộ môn</strong>:</p><p>&nbsp;<strong>Phó Trưởng bộ môn:&nbsp;Ths Phạm Thanh Bình</strong></p><p><img src="https://cse.tlu.edu.vn/Portals/0/A%20Binh.jpg" alt=""></p><p>Tốt nghiệp Đại học Bách Khoa năm 2000</p><p>Thạc sỹ &nbsp;năm 2006 &nbsp;tại ĐH Đại học Bách Khoa Hà Nội</p><p><strong>Các môn học giảng dạy</strong></p><p><strong>&nbsp;</strong></p><figure class="table"><table><tbody><tr><td><strong>STT</strong></td><td><strong>Tên môn</strong></td><td><strong>Tên tiếng anh</strong></td><td><strong>Mã môn</strong></td><td><strong>Số tín chỉ</strong></td></tr><tr><td>1</td><td>Tin học đại cương</td><td>Introduction to Engineering Programming</td><td>ENGR111</td><td>3</td></tr><tr><td>2</td><td>Kiến trúc máy tính</td><td>Introduction to Computer Organization</td><td>CSE370</td><td>4</td></tr><tr><td>3</td><td>Phân tích và xử lý tín hiệu số</td><td>Digital Signal Processing and Analysis</td><td>CSE451</td><td>3</td></tr><tr><td>4</td><td>Mạng máy tính</td><td>Computer Networks</td><td>CSE489</td><td>3</td></tr><tr><td>5</td><td>Hệ điều hành</td><td>Introduction to Operating Systems</td><td>CSE482</td><td>3</td></tr><tr><td>6</td><td>An toàn và bảo mật thông tin</td><td>Cryptography and Network Security Principles</td><td>CSE488</td><td>3</td></tr><tr><td>7</td><td>Xử lý ảnh</td><td>Digital Image Processing</td><td>CSE456</td><td>3</td></tr><tr><td>8</td><td><i>Mạng không dây và di động</i></td><td><i>Wireless and Mobile Networks</i></td><td><i>CSE419</i></td><td><i>3</i></td></tr><tr><td>9</td><td><i>Kỹ thuật truyền số liệu</i></td><td><i>Data Communication</i></td><td><i>CSE550</i></td><td><i>3</i></td></tr><tr><td>10</td><td><i>Thiết kế mạng</i></td><td><i>Network Design</i></td><td><i>CSE420</i></td><td><i>3</i></td></tr><tr><td>11</td><td><i>Lập trình mạng</i></td><td><i>Network Applications Programming</i></td><td><i>CSE490</i></td><td><i>4</i></td></tr><tr><td>12</td><td><i>Quản trị mạng</i></td><td><i>Network Administration</i></td><td><i>CSE421</i></td><td><i>3</i></td></tr></tbody></table></figure>
   <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>