################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web_CSE/obj
/Web_CSE/obj/Debug
/Web_CSE/bin
/Web_CSE/.vs