################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
obj/
bin/
/Web_CSE/.vs/
/.vs/Web_CSE_TLU/FileContentIndex
appsettings.json
/Models/CnttCseContext.cs
.idea/
/.idea
appsettings.json
Models/CnttCseContext.cs

Web_CSE/.vs/Web_CSE/v17/.suo
