main {
    min-height: 900px;
    margin-bottom: 250px;
}

    main .add-post, .edit-post, .delete-post, .details-post {
        display: block;
        height: 45px;
        width: 45px;
        background-color: #003478;
        color: #fff;
        padding: 6px;
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.6);
        margin: 3px;
        justify-content: center;
    }

    main .index-button {
        flex-direction: column !important;
    }

    main .add-post {
        width: auto !important;
        height: auto !important;
        min-width: 50px;
        display: block !important;
    }

    main .edit-post {
        background-color: burlywood;
    }

    main .edit-post-2, .details-post-2 {
        width: auto;
        height: 37.6px;
        background-color: #003478;
        color: #fff;
        padding: 6px;
        border-radius: 4px;
        text-decoration: none !important;
        text-align: center;
        margin: 3px;
        justify-content: center;
        background-color: burlywood;
        min-width: 50px;
    }

.details-post-2 {
    background-color: #003478;
}

main .delete-post {
    background-color: crimson;
}

main textarea {
    max-height: 700px;
}

.back-to-list {
    text-align: center;
    background-color: rgb(128, 128, 128);
    height: 37.6px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.6);
    margin-left: 3px;
    min-width: 50px;
}

.post-index {
    display: flex;
    align-items: center;
}

main .add-post:hover, .edit-post:hover, .delete-post:hover, .details-post:hover, back-to-list:hover {
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.3);
    opacity: 0.8;
}

.inline {
    display: inline-block;
}
.ck-content img{
    max-width: 100%;
    height: auto;
}
.ck-content{
    max-width:800px !important;
}
.posts-title {
    max-width: 800px !important;
}