@model Web_CSE.Areas.Admin.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLogin.cshtml";
}
<div class="signin-wrapper">
<form asp-area="Admin" asp-controller="Accounts" asp-action="Login" method="post">
      <div class="signin-box">
        <h2 style="text-align: center;" class="slim-logo">
          <img src="/images/logo/Logo-WRU.png" border="0" alt="" width="100" >
        </h2>
        <h2 class="signin-title-primary">Chào mừng trở lại</h2>
        <h3 class="signin-title-secondary">Đăng Nhập để tiếp tục</h3>
      
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nhập Email..." asp-for="Email">
        </div><!-- form-group -->
        <div class="form-group ">
          <input type="password" class="form-control" placeholder="Nhập Password..." asp-for="Password">
        </div><!-- form-group -->
        <h6 style="color: red; text-align:center; margin-bottom:10px"  class="mg-b-0">@ViewBag.Error</h6>
        <button class="btn btn-primary btn-block btn-signin">Đăng Nhập</button>
     
</form>
      </div><!-- signin-box -->

</div><!-- signin-wrapper -->