@{
    ViewData["Title"] = "Tài liệu sinh viên cần biết";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tài liệu sinh viên cần biết</h1>

    <p>Đơn đề nghị, download&nbsp;<a href="https://cse.tlu.edu.vn/Portals/0/MauDon_DeNghi.doc">tại đây</a></p>
    <p>Đơn xin đăng ký học, download <a href="https://cse.tlu.edu.vn/Portals/0/MauDon_DKH.doc">tại đây</a></p>
    <p>Đơn xin hủy đăng ký học, download <a href="https://cse.tlu.edu.vn/Portals/0/MauDon_Huy-DKH.doc">tại đây</a></p>
    <p>Đơn xin thôi học,&nbsp;download<a href="https://cse.tlu.edu.vn/Portals/0/DHCQ_DonSVthoihoc.doc">&nbsp;tại đây</a></p>
    <p>&nbsp;Đơn xin nghỉ học tạm thời,&nbsp;download<a href="https://cse.tlu.edu.vn/Portals/0/DHCQ_DonXinNghiHocTT.doc">&nbsp;tại đây</a></p>
    <p>&nbsp;Đơn xin trở lại trường học tiếp,&nbsp;download&nbsp;<a href="https://cse.tlu.edu.vn/Portals/0/DHCQ_TroLaiTruong.doc">tại đây</a></p>
    <p>Đơn xin chuyển điểm,&nbsp;download <a href="https://cse.tlu.edu.vn/Portals/0/DHCQ_DonChuyenDiem.doc">tại đây</a></p>
    <p>Đơn xin xác nhận bản điểm cuối khóa,&nbsp;download <a href="https://cse.tlu.edu.vn/Portals/0/DHCQ-Xac%20nhan%20bang%20diem%20cuoi%20khoa.doc">tại đây</a></p>
    <p>Đơn xin CN- GDQP,&nbsp;download <a href="https://cse.tlu.edu.vn/Portals/0/DHCQ-DonXinCN-GDQP.doc">tại đây</a></p>
    <p>Đơn xin đăng ký học ngành 2,&nbsp;download <a href="https://cse.tlu.edu.vn/Portals/0/DHCQ_DonDkyHocNganh2.doc">tại đây</a></p>
    <p>Đơn cam kết (dành cho sinh viên cảnh báo học tập mức 3 lần 1),&nbsp;&nbsp;download&nbsp;<a href="https://cse.tlu.edu.vn/Portals/0/Mau%201%20don%20cam%20ket%20hoc%20tai%20truong.doc?ver=2016-03-21-131901-063">tại đây</a></p>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>