@{
    ViewData["Title"] = "Sơ đồ tổ chức khoa Công nghệ thông tin";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sơ đồ tổ chức khoa Công nghệ thông tin</h1>

    <p><strong>* Ban chủ nhiệm khoa</strong></p>
    <p><img src="https://localhost:5001/images/contents/rich-text/85595image.png" alt=""></p>
    <p>&nbsp;</p>
    <p><img src="https://cse.tlu.edu.vn/Portals/0/Nguyen%20Huu%20Quynh.jpg" alt=""><br><i><strong>1. PGS.TS. Nguyễn Hữu Quỳnh - Trưởng khoa Công nghệ thông tin</strong></i></p>
    <p><img src="http://humg.edu.vn/content/gioi-thieu/PublishingImages/GioiThieu/CoCauTochuc/CacKhoa/CNTT/HTTTTT/15.jpg" alt="Tạ Quang Chiểu"></p>
    <p><i><strong>2. TS. Tạ Quang Chiểu - Phó trưởng Khoa</strong></i></p>
    <p><img src="https://cse.tlu.edu.vn/Portals/0/Nguyen%20Ngoc%20Doanh_1.jpg" alt=""></p>
    <p><i><strong>3. PGS.TS Nguyễn Ngọc Doanh - Phó trưởng Khoa</strong></i></p>
    <figure class="table"><table><tbody><tr><td rowspan="2"><strong>*Văn phòng khoa</strong>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></tbody></table></figure>
    <p><strong>* Các Bộ môn:</strong></p>
    <figure class="table"><table><tbody><tr><td>1. Bộ môn Toán học</td></tr><tr><td>2. Bộ môn Công nghệ phần mềm</td></tr><tr><td>3. Bộ môn Hệ thống thông tin</td></tr><tr><td>4. Bộ môn Mạng và An toàn Thông tin</td></tr><tr><td>5. Bộ môn Tin học Kỹ thuật tính toán</td></tr><tr><td>6. Bộ môn Trí tuệ nhân tạo</td></tr></tbody></table></figure>
    <p>&nbsp;</p>
    <p><strong>* Khối tổ chức đoàn thể</strong></p>
    <figure class="table"><table><tbody><tr><td>-&nbsp;Đảng bộ bộ phận khoa Công nghệ thông tin&nbsp; &nbsp;</td><td>Phó Bí thư Nguyễn Hữu Quỳnh</td></tr><tr><td>- Công đoàn khoa Công nghệ thông tin &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td><td>Chủ tịch Nguyễn Hữu Thọ</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>- Liên chi Khoa CNTT</td><td>Bí thư Võ Tá Hoàng</td></tr></tbody></table></figure>
    <p>&nbsp;</p>
    <p><strong>* Các phòng thí nghiệm phục vụ công tác đào tạo, nghiên cứu</strong></p>
    <p>- Phòng Lab&nbsp;Khoa học dữ liệu</p>
    <p>- Phòng Lab Công nghệ</p>
    <p>Ngoài ra, Khoa còn thành lập một hội đồng Khoa tư vấn cho Trưởng khoa các công việc đào tạo, nghiên cứu cũng như định hướng phát triển của Khoa CNTT</p>
    <p>Ban chủ nhiệm Khoa đóng vai trò chủ đạo trong việc quyết định mọi dự án cũng như các kế hoạch phát triển của Khoa. Văn phòng Khoa là nơi giải quyết tất cả những thủ tục hành chính của Khoa cũng như quản lý tất cả những thông tin của sinh viên và cán bộ trong Khoa CNTT.</p>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>