@model Web_CSE.Models.Category

<h1>Chỉnh Sửa Danh Mục</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Categories" asp-action="Edit"asp-route-id="@Model.CatId" method="post" enctype="multipart/form-data">
            <div>
                 <input type="hidden" asp-for="CatId" />
                <input type="hidden" asp-for="Alias" />
                <input type="hidden" asp-for="Thumb" />
                <div class="form-group">
                <label class="form-control-label">Tên Danh Mục: <span class="tx-danger">*</span></label>
                <input class="form-control" type="text" asp-for="CatName"/>
            </div>
           <div class="form-group">
                <label class="form-control-label">Danh MỤC CHA: <span class="tx-danger">*</span></label>
                <select class="form-control select2" asp-for="Parent" asp-items="@ViewBag.DanhMucGoc" required>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label">Sắp Xếp: <span class="tx-danger">*</span></label>
                 <input class="form-control" type="number" value="0" asp-for="Ordering"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Tiêu đề: <span class="tx-danger">*</span></label>
                 <input class="form-control" type="text" asp-for="Title"/>
            </div>

             <div class="form-group">
                <label class="form-control-label">Ảnh đại diện: <span class="tx-danger">*</span></label>
                <input name="fThumb" type="file" asp-for="Thumb" class="form-control" />
            </div>
                <div class="form-group post-index">
                    <input type="submit" value="Lưu danh mục" class="btn btn-primary edit-post-2" />
                    <a asp-action="Index" class="back-to-list"><i class="fa fa-arrow-left" aria-hidden="true"></i>Quay lại</a>
                </div>
            </div>



        </form>
    </div>
</div>