@{
    ViewData["Title"] = "Các biểu mẫu, quy định dành cho Học viên Cao học";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Các biểu mẫu, quy định dành cho Học viên Cao học</h1>

    <p>- Mẫu&nbsp;đề cương luận văn thạc sĩ: <a href="https://cse.tlu.edu.vn/Portals/0/Mau%201_Trinh%20bay%20de%20cuong.doc">Tại đây</a></p>
    <p>- Mẫu Trình bày luận văn thạc sĩ: <a href="https://cse.tlu.edu.vn/Portals/0/Mau_trinhbayLV_2017_Chuan.docx">Tại đây</a></p>
    <p>- Mẫu báo cáo tiến độ luận văn Thạc sỹ, download&nbsp;<a href="http://fem.tlu.edu.vn/Portals/0/BAO%20CAO%20TIN%20D%20LUN%20VAN.doc">tại đây</a></p>
    <p>- Mẫu báo cáo kết quả thực hiện luận văn Thạc sỹ, download&nbsp;<a href="http://fem.tlu.edu.vn/Portals/0/BAO%20CAO%20KT%20QU%20THC%20HIN%20LUN%20VAN.doc">tại đây</a></p>
    <p>- Mẫu lý lịch Khoa học cho học viên Cao học, download&nbsp;<a href="http://fem.tlu.edu.vn/Portals/0/LY%20LCH%20KHOA%20HC%20.doc">tại đây</a></p>
    <p>-Biên bản giải trình sửa chữa luận văn Thạc sỹ, download&nbsp;<a href="http://fem.tlu.edu.vn/Portals/0/BB%20giai%20trinh.docx">tại đây</a></p>
    <p>- Quy trình đăng ký bảo vệ luận văn thạc sĩ: <a href="https://cse.tlu.edu.vn/Portals/0/TB_ChuanbiBVLV.docx">Tại đây</a></p>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>