@{
    ViewData["Title"] = "Giới thiệu bộ môn Công nghệ phần mềm";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Giới thiệu bộ môn Công nghệ phần mềm</h1>

    <p><strong>Giới thiệu Bộ môn Công nghệ phần mềm</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Bộ môn Công nghệ phần mềm đảm nhiệm chức năng giảng dạy tin đại cương, môn tin cơ sở và chuyên ngành Công nghệ phần mềm.</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Thành phần lãnh đạo bộ môn</strong>:</p>
    <p><strong>Trưởng bộ môn: TS Lê Nguyễn Tuấn Thành</strong></p>
    <p><strong><img src="https://cse.tlu.edu.vn/Portals/0/a%20thanh.png" alt=""></strong></p>
    <p>Tốt nghiệp Đại học Công nghệ, Đại học&nbsp;Quốc gia Hà Nội&nbsp; năm 2008</p>
    <p>Thạc sỹ năm 2011&nbsp; tại Viện tin học Pháp ngữ</p>
    <p>Bảo vệ luận án Tiến sỹ chuyên ngành Trí tuệ nhân tạo&nbsp; năm &nbsp;2016 tại ĐH Toulouse 3 Paul Sabatier, Cộng hòa Pháp</p>
    <p><strong>Các môn học giảng dạy</strong></p>
    <p><strong>&nbsp;</strong></p>
    <figure class="table"><table><tbody><tr><td><strong>STT</strong></td><td><strong>Tên môn</strong></td><td><strong>Tên tiếng anh</strong></td><td><strong>Mã môn</strong></td><td><strong>Số tín chỉ</strong></td></tr><tr><td>1</td><td>Ngôn ngữ lập trình</td><td>Programming &amp; Introductory Data Structures</td><td>CSE280</td><td>4</td></tr><tr><td>2</td><td>Linux và phần mềm mã nguồn mở</td><td>Linux and Open Source Software</td><td>CSE301</td><td>3</td></tr><tr><td>3</td><td>Ngôn ngữ lập trình nâng cao</td><td>Object Oriented and Advanced Programming</td><td>CSE381</td><td>3</td></tr><tr><td>4</td><td>Công nghệ phần mềm</td><td>Software Engineering</td><td>CSE481</td><td>3</td></tr><tr><td>5</td><td>Tương tác người máy</td><td>User Interface Development</td><td>CSE493</td><td>3</td></tr><tr><td>6</td><td><i>Lập trình phân tán</i></td><td><i>Distributed Programming</i></td><td><i>CSE423</i></td><td><i>3</i></td></tr><tr><td>7</td><td><i>Thương mại điện tử</i></td><td><i>E-Commerce</i></td><td><i>CSE547</i></td><td><i>3</i></td></tr><tr><td>8</td><td><i>Thiết kế phần mềm nâng cao</i></td><td><i>Advanced Software Design</i></td><td><i>CSE407</i></td><td><i>3</i></td></tr><tr><td>9</td><td><i>Phát triển dự án phần mềm</i></td><td><i>Software Project Development</i></td><td><i>CSE411</i></td><td><i>3</i></td></tr></tbody></table></figure>
    <p><strong>&nbsp;</strong></p>
    <p>&nbsp;</p>
    <p><img src="https://cse.tlu.edu.vn/Portals/0/CNPM%20moi.jpg?ver=2015-11-03-180202-913" alt=""></p>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>