@{
    ViewData["Title"] = "Giới thiệu Bộ môn Tin học và Kỹ thuật Tính toán";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Giới thiệu Bộ môn Tin học và Kỹ thuật Tính toán</h1>

    <p>Bên cạnh nhiệm vụ giảng dạy các môn Tin học văn phòng và Tin học đại cương cho sinh viên toàn trường, BM Tin học và Kỹ thuật tính toán còn đảm nhiệm một số môn cơ sở Toán học trong CNTT, các kỹ thuật tính toán, xử lý dữ liệu như: Tư duy tính toán, Thuật toán ứng dụng, Toán rời rạc, Học máy, Tin sinh,...</p>
    <p><strong>Thành phần lãnh đạo bộ môn</strong>:</p>
    <p><strong>1. Trưởng bộ môn: TS. Nguyễn Quỳnh Diệp</strong></p>
    <p><strong><img src="https://cse.tlu.edu.vn/Portals/0/c%20diep.jpg" alt=""></strong></p>
    <p><strong>1. Phó trưởng bộ môn: ThS. NCS. Trương Xuân Nam</strong></p>
    <p><strong><img src="https://cse.tlu.edu.vn/Portals/0/a%20nam.jpg" alt=""></strong></p>
    <p><strong>Các môn học giảng dạy:</strong></p>
    <figure class="table"><table><tbody><tr><td><strong>STT</strong></td><td><strong>Tên tiếng Việt</strong></td><td><strong>Tên tiếng Anh</strong></td><td><strong>Mã môn</strong></td><td><strong>Số TC</strong></td></tr><tr><td>1</td><td>Tin học văn phòng</td><td>Microsoft Office &nbsp;</td><td>OIT111</td><td>3</td></tr><tr><td>2</td><td>Tin học đại cương</td><td>Introduction to Engineering Programming</td><td>ENGR111</td><td>3</td></tr><tr><td>3</td><td>Nhập môn CNTT</td><td>Introduction to Computer &nbsp;</td><td>CSE101</td><td>2</td></tr><tr><td>4</td><td>Nhập môn Tư duy tính toán</td><td>Introduction to Computational Thinking</td><td>CSE102</td><td>2</td></tr><tr><td>5</td><td>Nhập môn Tin Sinh</td><td>Introduction to Bioinformatics &nbsp;</td><td>CSE491</td><td>3</td></tr><tr><td>6</td><td>Toán rời rạc</td><td>Discrete Mathematics</td><td>CSE203</td><td>3</td></tr><tr><td>7</td><td>Thuật toán ứng dụng</td><td>Application of Algorithms &nbsp;</td><td>CSE426</td><td>3</td></tr><tr><td>8</td><td>Học máy</td><td>Machine Learning</td><td>CSE445</td><td>3</td></tr><tr><td>9</td><td>Thực tập tốt nghiệp CNTT</td><td>Internship</td><td>CSE465</td><td>2</td></tr><tr><td>10</td><td>Tin Sinh (Cao học)</td><td>Bioinformatics &nbsp;</td><td>CSE527</td><td>3</td></tr><tr><td>11</td><td>Học máy nâng cao (Cao học)</td><td>Advanced Machine Learning</td><td>CSE545</td><td>3</td></tr><tr><td>12</td><td>Tối ưu hóa ứng dụng (Cao học)</td><td>Optimization</td><td>CSE589</td><td>3</td></tr></tbody></table></figure>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>