@{
ViewData["Title"] = "Trang chủ";
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="float: left; width: 30%; margin: 0px 10px">
        <div style="padding:10px;vertical-align:top; text-align: center;"><img alt=""
                src="~/images/home/cse-hallthumb.png" style="width: 100%" title="">
        </div>
        <div class="" style="text-align: center;">
            <h5>
                <a href="">Lời chào mừng</a>
            </h5>
        </div>

        <div style="padding:10px;vertical-align:top; text-align: center;"><img alt=""
                src="~/images/home/cse-tlu-narathumb.png" style="width: 100%" title="">
        </div>
        <div class="" style="text-align: center;">
            <h5>
                <a href="">Nghiên cứu khoa học</a>
            </h5>
        </div>
    </div>

    <div style="float: left; width: 30%; margin: 0px 10px">
        <div style="padding:10px;vertical-align:top; text-align: center;"><img alt=""
                src="~/images/home/gv-khoa-cnttthumb.png" style="width: 100%" title="">
        </div>
        <div class="" style="text-align: center;">
            <h5>
                <a href="">Giảng viên</a>
            </h5>
        </div>

        <div style="padding:10px;vertical-align:top; text-align: center;"><img alt=""
                src="~/images/home/k54th-tot-nghiep-1thumb.png" style="width: 100%" title="">
        </div>
        <div class="" style="text-align: center;">
            <h5>
                <a href="">Đào tạo</a>
            </h5>
        </div>
    </div>

    <div style="float: left; width: 30%; margin: 0px 10px">
        <div style="padding:10px;vertical-align:top; text-align: center;"><img alt="" src="~/images/home/khoa43th.png"
                style="width: 100%" title="">
        </div>
        <div class="" style="text-align: center;">
            <h5>
                <a href="">Ảnh khoa CNTT</a>
            </h5>
        </div>
    </div>
</body>

</html>