@{
    ViewData["Title"] = "Giới thiệu Bộ môn Toán học";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Giới thiệu Bộ môn Toán học</h1>

    <p>Bộ môn Toán đảm nhiệm chức năng giảng dạy toán học cho sinh viên toàn trường. Việc trang bị kiến thức toán học đối với sinh viên công nghệ thông tin là hết sức quan trọng, tư duy toán học sẽ giúp sinh viên CNTT giải quyết tốt các vấn đề liên quan đến giải thuật, hướng phát triển của ứng dụng CNTT.</p>
    <p><a href="http://cse.tlu.edu.vn/B%E1%BB%99-m%C3%B4n-Trung-t%C3%A2m/B%E1%BB%99-m%C3%B4n-to%C3%A1n-h%E1%BB%8Dc/%C4%90%E1%BB%99i-ng%C5%A9-gi%E1%BA%A3ng-vi%C3%AAn-BM-To%C3%A1n"><strong>Danh sách giảng viên thuộc Bộ môn.</strong></a></p>
    <p><strong>Thành phần lãnh đạo bộ môn</strong>:</p>
    <p>1<strong>.&nbsp;Trưởng bộ môn:&nbsp;TS Nguyễn Hữu Thọ</strong></p>
    <p><img src="http://web.archive.org/web/20150317011535im_/http://cse.wru.edu.vn/wp-content/uploads/2011/08/Tho1.jpg" alt=""></p>
    <p>Tốt nghiệp Đại học Sư phạm Hà nội năm 1989</p>
    <p>Thạc sỹ năm 2000 tại Viện Toán học- Viện Khoa học và công nghệ VN</p>
    <p>Bảo vệ luận án Tiến sỹ năm 2006 tại Viện Toán học- Viện Khoa học và công nghệ VN</p>
    <p>2<strong>.&nbsp;Phó Trưởng bộ môn:&nbsp;TS Nguyễn Đức Hậu</strong></p>
    <p><a href="http://web.archive.org/web/20150317011535/http://cse.wru.edu.vn/wp-content/uploads/2011/08/hau.jpg"><img src="http://web.archive.org/web/20150317011535im_/http://cse.wru.edu.vn/wp-content/uploads/2011/08/hau.jpg" alt="hau"></a></p>
    <p>Tốt nghiệp Đại học chuyên ngành Toán- Đại học Sư phạm Hà nội&nbsp;năm 2001</p>
    <p>Thạc sỹ chuyên ngành Giải tích- Đại học Sư phạm Hà nội&nbsp;năm 2004</p>
    <p>Bảo vệ luận án Tiến sỹ chuyên ngành Cơ học chất lỏng tại Cộng hòa Pháp năm 2011</p>
    <p>Hướng nghiên cứu: Giải tích số, Mô phỏng vận chuyển bùn cát, Mô phỏng dòng chảy rối và dòng chảy không ổn định.</p>
    <p>Công trình nghiên cứu tiêu biểu</p>
    <p>Nguyen D.H., Guillou S., Nguyen K.D., Pham Van Bang D., Chauchat J.&nbsp; (2012) Simulation of dredged sediment releases into homogeneous water using a two-phase model. Advances in Water Resources 48 (2012) 102–112.<a href="http://web.archive.org/web/20150317011535/https://mail.wru.edu.vn/owa/redir.aspx?C=9637606c8c114e6e8523399aebd257d4&amp;URL=http%3a%2f%2fdx.doi.org%2f10.1016%2fj.advwatres.2012.03.009">http://dx.doi.org/10.1016/j.advwatres.2012.03.009</a>&nbsp;(5-Year Impact Factor: 2.873)</p>
    <p>3<strong>.&nbsp;Phó Trưởng bộ môn:&nbsp;TS Đỗ Lân</strong></p>
    <p><img src="https://cse.tlu.edu.vn/Portals/0/a%20lan.jpg" alt=""></p>
    <p>Tốt nghiệp Đại học chuyên ngành Toán- Đại học Sư phạm Hà Nội&nbsp;năm 2007</p>
    <p>Thạc sỹ chuyên ngành Toán- Trường Đại học Khoa học Tự nhiên&nbsp; -Đại học Quốc gia&nbsp;Hà Nội&nbsp;năm 2010</p>
    <p>Bảo vệ luận án Tiến sỹ chuyên ngành phương trình vi phân và tích phân năm 2016</p>
    <p><strong>Các thành viên trong Bộ môn</strong></p>
    <figure class="table"><table><tbody><tr><td>1</td><td>TS Nguyễn Hữu Thọ (Trưởng Bộ môn)</td></tr><tr><td>2</td><td>TS Nguyễn Đức Hậu (Phó Bộ môn)</td></tr><tr><td>3</td><td>TS Đỗ Lân (Phó Bộ môn)</td></tr><tr><td>4</td><td>ThS Phạm Xuân Đồng</td></tr><tr><td>5</td><td>ThS Phan Thị Thanh Huyền</td></tr><tr><td>6</td><td>ThS Nguyễn Thị Vân</td></tr><tr><td>7</td><td>TS Nguyễn Văn Đắc</td></tr><tr><td>8</td><td>ThS Nguyễn Thị Lý</td></tr><tr><td>9</td><td>ThS Lê Thị Minh Hải</td></tr><tr><td>10</td><td>NCS Đào Việt Hùng</td></tr><tr><td>11</td><td>TS Nguyễn Ngân Giang&nbsp;</td></tr><tr><td>12</td><td>ThS Trần Phương Liên</td></tr><tr><td>13</td><td>ThS Phạm Nam Giang</td></tr><tr><td>14</td><td>TS Vũ Mạnh Tới</td></tr><tr><td>15</td><td>ThS Lê Thế Sắc</td></tr><tr><td>16</td><td>ThS Bùi Thị Huệ</td></tr><tr><td>17</td><td>ThS Vũ Nam Phong</td></tr><tr><td>18</td><td>TS &nbsp;Phạm Trường Xuân&nbsp;</td></tr><tr><td>19</td><td>ThS Phạm Xuân Trung</td></tr><tr><td>20</td><td>ThS Nguyễn Ngọc Huy</td></tr></tbody></table></figure>
    <p>&nbsp;</p>
    <p><strong>Nhiệm vụ:</strong></p>
    <p><strong>1. Giảng dạy các môn Toán cho chương trình đào tạo Tín chỉ</strong></p>
    <figure class="table"><table><tbody><tr><td><strong>STT</strong></td><td><strong>Tên môn</strong></td><td><strong>Số tín chỉ</strong></td></tr><tr><td>1</td><td>ToánI (Giải tích hàm một biến)</td><td>3</td></tr><tr><td>2</td><td>ToánII (Giải tích hàm nhiều nhiều biến)</td><td>3</td></tr><tr><td>3</td><td>Toán III (Đại số tuyến tính)</td><td>3</td></tr><tr><td>4</td><td>ToánIVa (Phương trình vi phân)</td><td>2</td></tr><tr><td>5</td><td>Toán IVb (Phương pháp số)</td><td>2</td></tr><tr><td>6</td><td>ToánIVc (Phương trình vật lý toán)</td><td>2</td></tr><tr><td>7</td><td>Toán V (Xác suất thống kê)</td><td>3</td></tr><tr><td>8</td><td>Toán I- II (Giải tích dành cho các ngành kinh tế)</td><td>4</td></tr></tbody></table></figure>
    <p><strong>2. Giảng dạy các môn Toán cho chương trình đào tạo Tại chức tại Hà nội, TP HCM và các địa phương khác.</strong></p>
    <p><strong>3. Giảng dạy chương trình Toán cho các hệ cao đẳng, cử tuyển, ngắn hạn, liên thông</strong></p>
    <p><strong>4. Giảng dạy các môn Toán cho chương trình đào tạo sau đại học</strong></p>
    <figure class="table"><table><tbody><tr><td><strong>STT</strong></td><td><strong>Tên môn</strong></td><td><strong>Số tiết</strong></td></tr><tr><td>1</td><td>Bổ túc xác suất và xử lý số liệu</td><td>30</td></tr><tr><td>2</td><td>Phân tích hệ thống</td><td>45</td></tr><tr><td>3</td><td>Giải tích số</td><td>30</td></tr></tbody></table></figure>
    <p><br><img src="https://cse.tlu.edu.vn/Portals/0/BM%20Toan%20hoc.jpg?ver=2015-10-26-103036-570" alt=""></p>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>