@model Web_CSE.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa quyền truy cập</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Tên danh mục</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleDescription" class="control-label">Chi tiết danh mục</label>
                <input asp-for="RoleDescription" class="form-control" />
                <span asp-validation-for="RoleDescription" class="text-danger"></span>
            </div>
            <div class="form-group post-index">
                <input type="submit" value="Lưu quyền truy cập" class="btn btn-primary edit-post-2" />
                <a asp-action="Index" class="back-to-list "><i class="fa fa-arrow-left" aria-hidden="true"></i>Quay lại</a>
            </div>
        </form>
    </div>
</div>

