@{
    ViewData["Title"] = "Danh sách các phòng thí nghiệm của khoa";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Danh sách các phòng thí nghiệm của khoa</h1>

    <p>- Phòng thí nghiệm DS Lab: TS. Tạ Quang Chiểu&nbsp;- Trưởng Lab</p>
    <p>- Phòng thí nghiệm MS Lab: ThS. <a href="http://cse.tlu.edu.vn/bo-mon-trung-tam/khoa-hoc-may-tinh/doi-ngu-giang-vien-khmt/userid/48/nguyen-ngoc-doanh-ts">T</a>rương Xuân Nam&nbsp;- Trưởng Lab</p>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>