@{
    ViewData["Title"] = "Logo của Khoa";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logo của Khoa</h1>

    <figure class="image"><img src="https://cse.tlu.edu.vn/Portals/0/CSE%20logo.jpg" alt=""></figure>
   <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>