@{
    ViewData["Title"] = "Giới thiệu BM Trí tuệ nhân tạo";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Giới thiệu BM Trí tuệ nhân tạo</h1>

    <p><strong>Giới thiệu Bộ môn Trí tuệ nhân tạo</strong></p>
    <p>Bộ môn Trí tuệ nhân tạo phụ trách ngành Trí tuệ nhân tạo và khoa học dữ liệu, đảm nhiệm chức năng giảng dạy các môn học như trí tuệ nhân tạo, học máy, quản trị dữ liệu lớn, học sâu và ứng dụng, xử lý ngôn ngữ tự nhiên,…</p>
    <p><strong>Thành phần lãnh đạo bộ môn</strong>:</p>
    <p><strong>Trưởng&nbsp;Bộ môn:&nbsp;TS. Tạ Quang Chiểu</strong></p>
    <p><img src="https://localhost:5001/images/contents/rich-text/47890image.png" alt=""></p>
    <p>Tốt nghiệp Trường ĐH Khoa học tự nhiên, ĐHQG Hà Nội</p>
    <p>Tiến sỹ năm 2015 tại Trường ĐH Tours - Cộng hòa Pháp</p>
    <p><strong>Các môn học giảng dạy</strong></p>
    <figure class="table"><table><tbody><tr><td><strong>TT</strong></td><td><strong>Môn học (Tiếng Việt)</strong></td><td><strong>Môn học (Tiếng Anh)</strong></td><td><strong>Mã</strong><br><strong>môn học</strong></td><td><strong>Tín chỉ</strong></td></tr><tr><td>1</td><td>Chuyên đề TTNT và KHDL</td><td>Special Subject in Artificial intelligence and Data Science</td><td>CSE433</td><td>4</td></tr><tr><td>2</td><td>Học Bayes</td><td>Bayesian Learning</td><td>CSE398</td><td>3</td></tr><tr><td>3</td><td>Học máy</td><td>Machine Learning</td><td>CSE445</td><td>3</td></tr><tr><td>4</td><td>Học phần tốt nghiệp</td><td>Graduation thesis</td><td>CSE493</td><td>10</td></tr><tr><td>5</td><td>Học sâu và ứng dụng</td><td>Deep Learning and Applications</td><td>CSE429</td><td>3</td></tr><tr><td>6</td><td>Nhận dạng mẫu</td><td>Data Driven Decision Making</td><td>CSE430</td><td>3</td></tr><tr><td>7</td><td>Phân tích chuỗi thời gian</td><td>Time Series Analysis</td><td>CSE399</td><td>3</td></tr><tr><td>8</td><td>Phân tích dữ liệu lớn</td><td>Big data analytics</td><td>CSE406</td><td>3</td></tr><tr><td>9</td><td>Quản lý dữ liệu lớn</td><td>Big Data Management</td><td>CSE394</td><td>3</td></tr><tr><td>10</td><td>Thực tập tốt nghiệp</td><td>Internship</td><td>CSE493</td><td>3</td></tr><tr><td>11</td><td>Tiền xử lý dữ liệu</td><td>Data pre-processing</td><td>CSE397</td><td>3</td></tr><tr><td>12</td><td>Trí tuệ nhân tạo</td><td>Artificial Intelligence</td><td>CSE492</td><td>3</td></tr><tr><td>13</td><td>Trực quan hóa dữ liệu</td><td>Data Visualization</td><td>CSE396</td><td>3</td></tr><tr><td>14</td><td>Xử lý âm thanh và tiếng nói</td><td>Speech and Audio Processing</td><td>CSE457</td><td>3</td></tr><tr><td>15</td><td>Xử lý ngôn ngữ tự nhiên</td><td>Natural Language Processing</td><td>CSE458</td><td>3</td></tr></tbody></table></figure>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>ĐỘI NGŨ GIẢNG VIÊN</strong></p>
    <p><strong>1. Tạ Quang Chiểu (TS)</strong>, Phụ trách bộ môn</p>
    <p>*/ Giảng dạy</p>
    <p>- Ngôn ngữ lập trình (C/C++/Python)</p>
    <p>- Trí tuệ nhân tạo</p>
    <p>- Học máy</p>
    <p>- Quản lý dữ liệu lớn</p>
    <p>- Tiền xử lý/trực quan hoá dữ liệu dữ liệu,…</p>
    <p><strong>2. Nguyễn Thị Kim Ngân (TS), Giảng viên</strong></p>
    <p>*/ Giảng dạy</p>
    <p>- Ngôn ngữ lập trình (C/C++/Python)</p>
    <p>- Cơ sơ dữ liệu, hệ quản trị dữ liệu</p>
    <p>- Trí tuệ nhân tạo</p>
    <p>- Học máy</p>
    <p>- Khai phá dữ liệu,…</p>
    <p><strong>3. Phạm Trí Công (Ths), Giảng viên</strong></p>
    <p>*/ Giảng dạy</p>
    <figure class="table"><table><tbody><tr><td>&nbsp;</td><td><p>- Tin đại cương</p><p>- Công nghệ Web</p><p>- Lập trình Mobile</p><p>- Thương mại điện tử</p></td></tr></tbody></table></figure>
    <p><strong>4. Trần Thị Cẩm Giang (ThS), Giảng viên</strong></p>
    <p>*/ Giảng dạy</p>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>