@{
    ViewData["Title"] = "Các mẫu sinh viên cần biết khi làm thực tập tốt nghiệp, đồ án tốt nghiệp";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <
    <p>Mẫu đề cương thực tập tốt nghiệp, download: <a href="https://cse.tlu.edu.vn/Portals/0/Mau%20de%20cuong%20Oct30.docx">Tại đây</a></p>
    <p>Mẫu phiếu đánh giá thực tập tốt nghiệp, download: <a href="https://cse.tlu.edu.vn/Portals/0/Mau%20Phieu%20danh%20gia%20TTTN%20cua%20doanh%20nghiep_Oct30.doc">Tại đây</a></p>
    <p>Các mẫu đơn xin xét giao ĐATN (mẫu 1a, mẫu 1b, mẫu 2),&nbsp;download: <a href="https://cse.tlu.edu.vn/Portals/0/Mau%201a%2C%20Mau%201b%2C%20mau%202%281%29.doc">Tại đây</a></p>
    <p>Mẫu tóm tắt đề cương đồ án&nbsp;(mẫu 1), download: <a href="https://cse.tlu.edu.vn/Portals/0/Mau1_TomTatDeCuongDATN.docx">Tại đây</a></p>
    <p>Mẫu nhiệm vụ đồ án tốt nghiệp (mẫu 2), download: <a href="https://cse.tlu.edu.vn/Portals/0/Mau2_Maunhiemvu_1.doc">Tại đây</a></p>
    <p>Mẫu Đồ án tốt nghiệp, download: <a href="https://cse.tlu.edu.vn/Portals/0/Hung_dn_trinh_bay_DANT_KLTN_.zip">Tại đây</a></p>
    <p>Giấy giới thiệu đi thực tập (làm đồ án tốt nghiệp), download: <a href="https://cse.tlu.edu.vn/Portals/0/Mau%20giay%20gioi%20thieu%20di%20thuc%20tap_1.doc">Tại đây</a></p>

    <figure class="image"><img src="https://cse.tlu.edu.vn/Portals/0/CSE%20logo.jpg" alt=""></figure>
    <div>
        <div style="margin-bottom: 20px">
            <a asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true" style="text-align: right; display: block">  Trở lại trang trước</i></a>
        </div>
    </div>
</body>

</html>